form {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
  border-radius: 20px;
  padding: 4.5rem 4.5rem;
  min-width: 18rem;
}

.title {
  font-size: 2.5rem;
  letter-spacing: .2px;
}

.sub-title {
  margin-left: 5px;
  font-size: 1.2rem;
  color: rgb(124, 124, 124);
}

.login {
  position: relative;
  margin: 1.5rem 0;
}

.login-input {
  line-height: 2.5rem;
  border-radius: 10px;
  width: 18rem;
  text-indent: 12px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
}

.login-label {
  position: absolute;
  left: 15px;
  transform: translateY(-50%);
  color: rgb(124, 124, 124);
  pointer-events: none;
  line-height: 1.1rem;
  border-radius: 15px;
  font-size: 0.8rem;
  background-color: #eef2f5;
  padding: 0rem 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
}

.login-error {
  color: rgb(240, 93, 93);
  margin-left: 0.6rem;
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

button {
  font-size: 1.5rem;
  border-radius: 50px;
  padding: 1rem 2rem;
  margin: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
  font-weight: 600;
  background: transparent;
  &:focus {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
  }
}

.checkbox-wrapper label {
  margin-left: 15px;
  font-size: .85rem;
  color: rgb(78, 78, 78);
  & input {
    margin-right: 5px;
    font-size: .85rem;
  }
}

.login-link {
  font-size: .85rem;
  text-align: center;
  color: rgb(78, 78, 78);
}

.login-link span {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.login-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0 1.5rem 0;
}

.login-btn {
  width: 80%;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  outline: none;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
  cursor: pointer;
  font-weight: 600;
}

.login-btn:focus {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
}