@import '../../../styles/variables';

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 15vh;
  // text-align: center;
  width: 100%;
  z-index: 99;
  background-color: $background-color;
  box-shadow: 20px 15px 15px -10px white;
}

.nav-logo {
  height: 100%;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo-matchimage {
  max-width: 20%;
  max-height: 50%;
}

.nav-logo-svgimage {
  max-width: 60%;
  // max-height: 50%;
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 0, 0.5));
}

.nav-links-wrapper {
  height: 100%;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-right: 4rem;
}

.navbar-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(78, 78, 78);
  padding: 0rem 3rem;
  padding-top: 0.3rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
  background: transparent;
  &:hover {
    font-weight: 600;
  }
}

.active {
  color: rgb(78, 78, 78);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0rem 3rem;
  padding-top: 0.3rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
  background: transparent;
  // &:focus {
  //   box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
  // }
}
