.error-toast {
    position: fixed;
    right: 15px;
    top: 15px;
    transform: translateX(100%);
    background: #fff;
    border: 1px solid #adadad;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    font-size: 0.9rem;
    color: rgba(169, 27, 27, 0.732);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: slideIn 0.5s forwards, fadeOut 0.5s 5s forwards;
    z-index: 1000;
}


@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}