@import '../../../styles/variables';

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-shrink: 0;
  bottom: 0;
  height: 5vh;
  text-align: center;
  width: 100%;
  z-index: 99;
  background-color: $background-color;
  box-shadow:0px 0px 5px -5px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
}

