$background-color: null;
$text-color: null;
$btn-width: null;
$btn-height: null;
$block-padding: null;
$font-family: Roboto, 'Open Sans', Lato;
$line-height: 1.5;
$font-weight: null;
$base-fontsize: 1rem;