@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');
@import './mixins';
@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $base-fontsize;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: $font-family;
  background-color: #eef2f5;
  display: flex;
  flex-direction: column;
}

#root {
  @include vertical-list;
  margin-top: 14rem;
}

// .form-input-sections label {
//   position: absolute;
//   left: 15px;
//   transform: translateY(-50%);
//   color: rgb(124, 124, 124);
//   pointer-events: none;
//   line-height: 1.1rem;
//   border-radius: 15px;
//   font-size: 0.8rem;
//   background-color: #eef2f5;
//   padding: 0rem 0.5rem;
//   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
// }

// .control-error {
//   color: rgb(240, 93, 93);
//   margin-left: 0.6rem;
//   margin-top: 0.3rem;
//   font-size: 0.8rem;
// }

// button {
//   font-size: 1.5rem;
//   border-radius: 50px;
//   padding: 1rem 2rem;
//   margin: 5px;
//   border: none;
//   cursor: pointer;
//   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
//   font-weight: 600;
//   background: transparent;
//   &:focus {
//     box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
//   }
// }

button.logout-btn {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(78, 78, 78);
  padding: 0.4rem 2.4rem !important;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
  background: transparent;
  &:hover {
    font-weight: 600;
  }
}
